services:
  frontend:
    image: nginx:alpine
    container_name: site_frontend
    restart: unless-stopped
    networks:
      - traefik_proxy
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.site.rule=Host(`site.local`) || Host(`masoud-mh.com`) || Host(`www.masoud-mh.com`)"
      - "traefik.http.routers.site.entrypoints=web"
      - "traefik.http.services.site.loadbalancer.server.port=80"
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1/ >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 3


  backend:
    
    # build:
    #   context: ./backend
    # image: site_backend:1.0
    # container_name: site_backend
    image: ghcr.io/masoud-mh/homelab-backend:${BACKEND_TAG:-latest}
    # container_name: site_backend
    restart: unless-stopped
    networks:
      - traefik_proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`api.site.local`) || Host(`api.masoud-mh.com`)"
      - "traefik.http.routers.api.entrypoints=web"
      - "traefik.http.services.api.loadbalancer.server.port=8000"
    env_file:
      - .env


networks:
  traefik_proxy:
    external: true
