# Static (platform) configuration

api:
  dashboard: true

entryPoints:
  web:
    address: ":80"

providers:
  docker:
    exposedByDefault: false

log:
  level: INFO

# Keep this on while learning/debugging. We can turn it off later.
accessLog: {}
