services:
  cloudflared:
    image: cloudflare/cloudflared:2026.1.2
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TUNNEL_TOKEN}
    networks:
      - traefik_proxy

networks:
  traefik_proxy:
    external: true


